<div class="jumbotron content mt-5">
    <div class="container">
        <h1 class="ml11 text-center">
            <span class="text-wrapper">
                <span class="letters">Tribble</span>
                <span class="line line1"></span>
            </span>
            <small class="lead text-center"
                >Top 3 Sci-Fi book deals on Amazon <i class="fas fa-hand-spock"></i></i
            ></small>
        </h1>
        <!--Search was abandoned in this project-->

        <!-- <div class="form-group col-md-6 mx-auto">
            <input
                type="text"
                name="searchInput"
                ng-model="sctrl.searched"
                class="form-control text-center search-bar shadow-sm"
                placeholder="What are you looking for?"
            />
        </div>
        <p class="text-center">
            <button class="btn btn-primary" ng-click="sctrl.search()" type="submit">
                Search
            </button>
        </p> -->
    </div>
</div>
<ui-view></ui-view>

<!--Photon animation-->
<script type="text/javascript">
    var textWrapper = document.querySelector(".ml11 .letters");
    textWrapper.innerHTML = textWrapper.textContent.replace(
        /([^\x00-\x80]|\w)/g,
        "<span class='letter'>$&</span>"
    );

    anime
        .timeline({ loop: true })
        .add({
            targets: ".ml11 .line",
            scaleY: [0, 1],
            opacity: [0.5, 1],
            easing: "easeOutExpo",
            duration: 700
        })
        .add({
            targets: ".ml11 .line",
            translateX: [
                0,
                document.querySelector(".ml11 .letters").getBoundingClientRect().width + 10
            ],
            easing: "easeOutExpo",
            duration: 700,
            delay: 100
        })
        .add({
            targets: ".ml11 .letter",
            opacity: [0, 1],
            easing: "easeOutExpo",
            duration: 600,
            offset: "-=775",
            delay: (el, i) => 34 * (i + 1)
        })
        .add({
            targets: ".ml11",
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 5000
        });
</script>
