@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

#background {
    background-color: #121212 !important;
    font-family: "Open Sans", sans-serif;
}

.content {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.search-bar {
    background-color: #38383d !important;
    border: none !important;
    color: #a1a1a1 !important;
}

.result {
    background-color: #38383d !important;
    color: white;
}

.dont-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.deal-image {
    width: 170px !important;
    height: 227px !important;
}

.ml11 {
    font-weight: 700;
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 80%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}
